* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-color: #f3f3f4;
    margin: 15px;
    color: #54585a;
}

.overview,
.decision {
    display: flex;
    background-color: #fefefe;
    justify-content: space-between;
    
}

.overview {
    padding: 2vh 1vw;
    padding-right: 4vw;
}

.overview :first-child {
    font-weight: 600;
}
.shoppingList{
    flex:1;
    margin: 4px 0;
    display: flex;
    flex-direction: column;
    gap:4px;
}
.item {
    padding: 25px;
    background-color: #fefefe;
    gap: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.item h3 {
    color: #53c5ae;
}

.item a {
    color: #54585a;
    text-decoration: none;
}

.item .img {
    background-color: #f7f7f8;
    height: 100px;
    width: 100px;
}

.description {
    display: flex;
    width: 40vw;
    gap: 10px;
    flex-flow: column wrap;
}

.cost {
    display: flex;
    margin-left: auto;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.cost .total{
    font-weight: bold;
}
.cost input[type="number"] {
    
    margin: 0;
    outline: none;
    border: 2px solid #e5e6e7;
    width: 50px;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    color: #54585a;
}

.cost p span {
    text-decoration: line-through;
    font-size: small;
}
.decision{
    padding: 3vh 2vw;
}
.back{
    border: 2px solid #e7eaec;
    padding: 10px;
    border-radius: 6px;
}
.checkout{
    background-color: #1ab394;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
}
.side-div{
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}
.side-div p{
    background-color: #fefefe;
    font-weight: 500;
    padding: 2vh 1vw;
    margin-bottom: 4px;
}

.side-div .summary{
    padding: 2vh 1vw;
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.side-div .summary p{
    padding: unset;
    font-weight: 400;
    opacity: 0.8;
}
.summary h3{
    font-size: 25px;
    padding-bottom: 24px;
    border-bottom: 2px solid #f0f0f0;
}
.side-div .summary #cancel{
    background-color: white;
    border: 1px solid rgba(101, 104, 105,0.2);
    border-radius: 6px;
    padding: 8px 13px;
    margin: 0;
}
.side-div .summary .final{
    display: flex;
}

@media screen and (max-width:430px) {
    body{
        flex-direction: column;
        margin: 0;
    }
    .cost{
        flex-direction: column;
    }
    .description{
        width: 50vw;
    }
    .side-div{
        margin: 4px 0;
        padding: 4px;
    }
    .options span{
        display: none;
    }
    .options{
        display: flex;
        flex-direction: column;
    }
    .options a span{
        display: unset;
    }
}